/*master styles*/


body{
  margin:0px;
  font-family: "Recursive", sans-serif;
}

.container{
  display:grid;
  grid-template-columns: 1fr;
}

/*Nav styles*/
.nav-wrapper{
  display:flex;
  justify-content: space-between;
  padding:25px;
}

.left-side{
  display: flex;
}

.nav-wrapper > .left-side > div{
  margin-right:20px;
  font-size: 0.9em;
  font-weight: 200;
}

.nav-link-wrapper{
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover{
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
  color: black;
}

.active-nav-link{
  border-bottom: 1px solid black;
}

.active-nav-link a{
  color: black !important;
}

/*portfolio*/

/*About Page*/

.profile-image-wrapper{
  display: flex;
  width:100%;
  height:100%;
  justify-content: space-between;
  align-content: center;
}

.profile-content-wrapper{
  display: flex;
  flex-direction: column;
  padding:30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  height: 100vh;
  width: 100vw;
  border-bottom: 5px solid black;
}

.whyPM {
  padding-top: 2.5em;
  height:50vh;
  width: auto;
}

#info{
  text-align: center;
  font-size: 2em;
  padding: 40px;
}

.describe{}

.describe-info{
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

/*Home*/

.nav-link-wrapper1{
  height: 22px;

}

.nav-link-wrapper1 a{
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper1 a:hover{
  color: black;
}

.intro-wrapper {
  height: 100vh;
  width: 100vw;
  border-top: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Highlights */
#card-1 {
  height: 80vh;
  width: auto;
  display: grid;
  grid-template-columns : 1fr 3fr;
  grid-template-rows:auto;
  grid-template-areas: "intro-image introduction";
  justify-items: center;
  align-items: center;
}

.intro-image {
  height: auto;
  width: 100%;
}

.introduction {
  padding-left: 2rem;
  padding-right: 2rem;
}

.format-info{
  border-top: 5px solid black;
}


/*Portfolio styles*/

.portfolio-items-wrapper{
  display: grid;
  grid-template-columns: 1fr;
}

.portfolio-img-back{
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.subtitle{
  transition: 1s;
  color: transparent;
}

.portfolio-img-back:hover .subtitle{
  text-align: center;
  color: white;

}
