/*master styles*/


body{
  margin:0px;
  font-family: "Recursive", sans-serif;
}

.container{
  display:grid;
  grid-template-columns: 1fr;
  height: 7vh;
}

.container_iframe{
  display:grid;
  grid-template-columns: 1fr;
  height: 92vh;
}
/*Nav styles*/
.nav-wrapper{
  display:flex;
  justify-content: space-between;
  padding:25px;
}

.left-side{
  display: flex;
}

.nav-wrapper > .left-side > div{
  margin-right:20px;
  font-size: 0.9em;
  font-weight: 200;
}

.nav-link-wrapper{
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover{
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
  color: black;
}

.active-nav-link{
  border-bottom: 1px solid black;
}

.active-nav-link a{
  color: black !important;
}

/*portfolio*/

/*About Page*/

.profile-image-wrapper{
  display: flex;
  width:100%;
  height:100%;
  justify-content: space-between;
  align-content: center;
}

.profile-content-wrapper{
  display: flex;
  flex-direction: column;
  padding:30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  height: 30vh;
  width: 50vw;
  border-bottom: 5px solid black;
}

.whyPM {
  padding-top: 2.5em;
  height:50vh;
  width: auto;
}

#info{
  text-align: center;
  font-size: 2em;
  padding: 40px;

}


.describe-info{
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.video-info{
  height: 100%;
  width: 100%;
  margin-left: 0vw;
  margin-right: 0vw;
  margin-bottom: 0vh;
}

#dreamer-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 55vh;
  width: 100%;
  background-color: #579BC8;
}


#oppor-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 55vh;
  width: 100%;
  background-color: #002B56;
}

#curious-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 55vh;
  width: 100%;
  background-color: #2B628E;
}


.right-hand{
  padding:20vh;
  background-color:#051C2C;
  display: inline-grid;
  place-items: center;
  margin: 0;
  color: white;
  font-size: 1.75em;
}

.left-hand{
  padding:12vh;
  display: inline-grid;
  margin: 0;
  color: black;
  text-align: left;
}


.about-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.about-text-wrapper .subtitle2 {
  transition: 1s;
  color: transparent;
}


.about-text-wrapper:hover .subtitle2 {
  color: white;
  text-align: center;
  justify-content: center;
  margin-bottom: 20vh;
}

.about-text-wrapper:hover .logo-wrapper1 {
  transition: 1s;
  color: transparent;

}




/*Home*/

.nav-link-wrapper1{
  height: 22px;

}

.nav-link-wrapper1 a{
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper1 a:hover{
  color: black;
}

.intro-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #051C2C;
  color: white;
}

.intro-wrapper2 {
  margin-top: 0vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}




/* Highlights */
#card-1 {
  height: 80vh;
  width: auto;
  display: grid;
  grid-template-columns : 1fr 3fr;
  grid-template-rows:auto;
  grid-template-areas: "intro-image introduction";
  justify-items: center;
  align-items: center;
}

.intro-image {
  height: auto;
  width: 100%;
}

.introduction {
  padding-left: 2rem;
  padding-right: 2rem;
}

.format-info{
  border-top: 5px solid black;
}


/*Portfolio styles*/

.portfolio-items-wrapper{
  display: grid;
  grid-template-columns: 1fr;
}

.portfolio-item-wrapper {
  position: sticky;
}

.portfolio-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 55vh;
  width: 100%;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  color: transparent;
}

.img-text-wrapper .subtitle1 {
  transition: 1s;
  color: transparent;
}

.image-blur {
  transition: 1s;
  filter: brightness(20%);
}



.img-text-wrapper:hover .subtitle {
  color: white;
  text-align: center;
  justify-content: center;
  margin-bottom: 20vh;
}

.img-text-wrapper:hover .subtitle1 {
  color: white;
  text-align: center;
  justify-content: center;
  margin-bottom: 10vh;
}


.logo-wrapper1 img {
  width: 33%;
  height: 70%;
  margin-bottom: 5vh;
  margin-right: 60%;
}

.logo-wrapper img {
  width: 33%;
  height: 50%;
  margin-bottom: 5vh;
  margin-right: 60%;
}

.logo-wrapper3 img {
  width: 33%;
  height: 50%;
  margin-bottom: 10vh;
  margin-right: 60%;
}

.logo-wrapper2 {
  text-align: center;
  justify-content: center;
  margin-top: 15vh;
  color: #F3F3F3;
}


.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
  width: 100%;
}

.profile-content-wrapper {
  padding: 30px;
}

.profile-content-wrapper h1 {
  color: lightseagreen;
}

/*Resume page*/

.resume-img{
  width: 100%;
}
